<%= include('views/_header.erb')%>
<div class="log span-6">
	<p>
	<%if id %>
	<a href="http://192.168.1.102:4567/logout">Se d&eacute;connecter</a>
	<%else%>
	<a href="http://192.168.1.102:4567/login">S'identifier</a>
	<%end%>
	</p>
</div>

<div class="span-14 rightcol blue">
	<table border="0" cellspacing="0" cellpadding="0" class="profiletable">
		<tr><td class="typedata">Num&eacute;ro de compte Vid&eacute;otron :</td><td><strong><%=videotron%></strong></td></tr>
		<tr><td class="typedata">Adresse courriel :</td><td><strong><%=email%></strong></td></tr>
		<tr><td class="typedata">Limite de t&eacute;l&eacute;chargement (aval) :</td><td><strong><%=mdownload%> Go</strong></td></tr>
		<tr><td class="typedata">Limite de t&eacute;l&eacute;versement (amont) : </td><td><strong><%=mupload%> Go</strong></td></tr>
		<tr><td class="typedata">Dernier jour de facturation mensuelle :</td><td><strong><%=jourfin%></strong></td></tr>
		<tr><td class="typedata">Re&ccedil;u en aval (t&eacute;l&eacute;charg&eacute;) : </td><td><strong><%=downloads%> Go</strong></td></tr>
		<tr><td class="typedata">Transmis en amont (t&eacute;l&eacute;vers&eacute;) :</td><td><strong><%=uploads%> Go</strong></td></tr>
	</table>
	<form method="post" action="/user/<%=id%>" onsubmit="return confirm('Etes vous sur de vouloir supprimer votre compte?\nToutes vos informations seront supprimees de notre base de donnee')">
	  <input name="_method" type="hidden" value="delete" />
	  <div><button type="submit">Supprimer mon compte</button></div>
	</form>
</div>
<%= include('views/_footer.erb')%>
