<html>
<head>
</head>
<body>
	# de compte videotron : <%=videotron%><br/>
	email : <%=email%><br/>
	Download limit : <%=mdownload%> Go<br/>
	Upload limit : <%=mupload%> Go<br/>
	Jour de la fin du mois : <%=jourfin%><br/>
</body>
</html>